<h1>Please enter your change</h1>
  <form action="/coins">
      <div class="form-group">
          <label for="coins">Please enter your change amount:</label>
          <input id="coins" name="coins" type="text">
      </div>
            <button type="submit" class="btn-success">Send</button>
  </form>
